body{
            background-color: black;
            overflow: hidden;
            overflow-y: scroll;
        }
        ::-webkit-scrollbar {
        display: none;
        }
        .cabecalho{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            background-color: #162028;
        }
        nav{
            display: flex;
            gap: 4rem;
            align-items: center;
            align-items: center;
            margin: 0;
        }
        h1{
            font-size: 45px;
            margin: 0;
        }
        h2{
            font-size: 50px;
            font-family: 'Arial', sans-serif;
        }
        .img_topo{
            position: relative;
            width: 100%;
            top: -100px;
        }
        .txt_menu{
            color: white;
            text-decoration: none;
        }
        .img_cab{
            background-color: #003d52;
            overflow: hidden;
            height: 600px;
        }
        section{
            position: relative;
            left: 50%;
            transform: translate(-50%);
            justify-content: center;
            text-align: center;
            width: 85%;
            height: 300px;
            padding: 0rem;
        }
        .textos{
            font-size: 20px;
            font-family: 'Arial', sans-serif;
            color: #555;
        }
        .img_opcoes{
            display: flex;
            justify-content: space-between;
            max-width: 900px;
            gap: 1rem;
        }
        .imgs_align{
            display: flex;
            justify-content: center;
        }
        .op{
            width: 50%;
        }
        .title_produ{
            font-size: 20px;
            color: #555;
        }
        .base{
            background-color: #14364d;
            width: 100%;
            text-align: center;
            justify-content: center;
            padding: 1px;   
        }
        .text_base{
            width: 100%;
            text-align: center;
            text-align: center;
            padding: 2px;

        }
        footer{
            background-color: #0b171f;
            color: white;
            text-align: center;
            padding: 2px;
        }
        h3{
            color: white;
            background-color: #0b171f;
            font-size: 30px;
            height: 50px;
            font-family: 'Arial', sans-serif;
        }
        h1{
            color: white;
            font-family: 'Arial', sans-serif;
        }

        @media screen and (max-width: 1300px) {
            .img_cab{
            background-color: #003d52;
            overflow: hidden;
            height: auto;
            text-align: center;
            justify-content: center;
        }
        .img_topo{
            width: 100%;
            top: 0px;
        }
        h2{
            font-size: 30px;
            font-family: 'Arial', sans-serif;
        }
        }

        @media screen and (max-width: 500px) {
            h1{
                font-size: 30px;
            }
            nav{
            gap: 1rem;
            }
        }
        @media screen and (max-width: 500px) {
            h1{
                font-size: 25px;
            }
            nav{
            gap: 1rem;
            }
            .txt_menu{
            font-size: 12px;
            }
            .img_opcoes{   
            gap: 1rem;
            }
            .textos{
                font-size: 15px;
            }
            .title_produ{
            font-size: 12px;
            }
            .desc_produ{
                font-size: 10px;
            }

        }
        @media screen and (max-width: 400px) {
            *{
                margin: 0;
            }
            h1{
                font-size: 20px;
            }
            h2{
            font-size: 20px;
        }
            nav{
            gap: 10px;
            }
            .txt_menu{
            display: flex;
            justify-content: space-between;
            font-size: 600px;
            text-decoration: none;
            }
            .img_opcoes{   
            gap: 5px;
            }
            .textos{
                font-size: 10px;
            }
            .title_produ{
            font-size: 12px;
            }
            .desc_produ{
                font-size: 10px;
            }
            h3{
                font-size: 20px;
            }
            .base_text{
                font-size: 1px;
            }
            .footer{
                font-size: 10px;
            }
        }
